@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  padding: 0;
  margin: 0;
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.text-stroke-dark {
  -webkit-text-stroke: 1px black;
  color: transparent;
}

.text-stroke-light {
  -webkit-text-stroke: 1px white;
  color: transparent;
}

.text-stroke-light2 {
  -webkit-text-stroke: 2px white;
  color: transparent;
}
.text-stroke-dark-withText {
  -webkit-text-stroke: 2px black;
}

.HighlightedText_wrapper_1 {
  --highlightProgress: 0%;
    display: inline-block;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
  clip-path: inset(0 calc(100% - var(--highlightProgress)) 0 0);
  -webkit-clip-path: inset(0 calc(100% - var(--highlightProgress)) 0 0);
}
.HighlightedTextAmber_wrapper_1 {
  --highlightProgress: 0%;
    display: inline-block;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
  clip-path: inset(0 calc(100% - var(--highlightProgress)) 0 0);
  -webkit-clip-path: inset(0 calc(100% - var(--highlightProgress)) 0 0);
}
.HighlightedTextAmber_wrapper_1 span{
    box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
  background-image: linear-gradient(to bottom, transparent 70%, #AE2637 30%);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-clip: padding-box, text; 
  -webkit-background-clip: padding-box, text;
  padding-inline: 5px;
  display: inline;
}

.HighlightedTextCyan_wrapper_1 {
   --highlightProgress: 0%;
   box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
  display: inline-block;
  clip-path: inset(0 calc(100% - var(--highlightProgress)) 0 0);
  -webkit-clip-path: inset(0 calc(100% - var(--highlightProgress)) 0 0);
}
.HighlightedTextCyan_wrapper_1 span{
    box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
  background-image: linear-gradient(to bottom, transparent 70%, #62B8CC 30%);
  background-size: 100% 100%;
  background-repeat: no-repeat;
   background-clip: padding-box, text; 
  -webkit-background-clip: padding-box, text;
  padding-inline: 5px;
  display: inline;
}