.qunueprocess-flow-wrapper {
    margin-top: 9.5rem;
}

.qunueprocess-flow-wrapper .title {
    font-size: 59px;
}

.qunueprocess-flow-wrapper .subTitle {
    font-size: 30px;
}

.qunueprocess-flow-wrapper .description {
    font-size: 20px;
    text-align: justify;
}

.qunueprocess-flow-wrapper .box_1,
.qunueprocess-flow-wrapper .box_2,
.qunueprocess-flow-wrapper .box_3 {
    position: absolute;
    padding-inline: 2.5rem;
    padding-block: 2rem;
    border-radius: 2rem;
    border: 2px solid white;
    background-color: #0D1B1D;
}

.qunueprocess-flow-wrapper .box_1 {
    width: 31%;
    top: 22.4%;
    left: -1.6%;
}

.qunueprocess-flow-wrapper .box_2 {
    width: 37.3%;
    top: 35.7%;
    right: 0.2%;
}

.qunueprocess-flow-wrapper .box_3 {
    width: 37%;
    top: 62.6%;
    left: -1.6%;
}

.qunueprocess-flow-wrapper .line_1 {
    position: absolute;
    top: 13.5%;
    left: 29.5%;
}

.qunueprocess-flow-wrapper .line_2 {
    position: absolute;
    top: 39.5%;
    left: 48.5%;
}

.qunueprocess-flow-wrapper .line_3 {
    position: absolute;
    top: 72.5%;
    left: 12.5%;
}

/****** tailwind css breack *****/
@media (max-width: 1605px) {
    .qunueprocess-flow-wrapper .box_1 {
        width: 31%;
        top: 22.4%;
        left: 0.4%;
    }

    .qunueprocess-flow-wrapper .box_2 {
        width: 37.3%;
        top: 35.7%;
        right: 0.2%;
    }

    .qunueprocess-flow-wrapper .box_3 {
        width: 37%;
        top: 62.6%;
        left: 0.4%;
    }
}

@media (max-width: 1535px) {

    /** 2xl**/
    .qunueprocess-flow-wrapper .line_1 {
        top: 14.1%;
        left: 29.5%;
        scale: .66;
    }

    .qunueprocess-flow-wrapper .line_2 {
        top: 41.5%;
        left: 46.5%;
        scale: .7;
    }

    .qunueprocess-flow-wrapper .line_3 {
        position: absolute;
        top: 77.5%;
        left: 12.5%;
        scale: .7;
    }

    .qunueprocess-flow-wrapper .title {
        font-size: 3.1vw;
    }

    .qunueprocess-flow-wrapper .subTitle {
        font-size: 1.9vw;
    }

    .qunueprocess-flow-wrapper .description {
        font-size: 1.5vw;
    }

    .qunueprocess-flow-wrapper .box_1 {
        width: 32%;
        top: 24.3%;
        left: 0.3%;
        padding-top: 1vw;
        padding-bottom: 1vw;
        padding-left: 1.8vw;
        padding-right: 1.8vw;
    }

    .qunueprocess-flow-wrapper .box_2 {
        width: 37.3%;
        padding-top: 1vw;
        padding-bottom: 1vw;
        padding-left: 1.8vw;
        padding-right: 1.8vw;
        top: 37.7%;
        right: 0.2%;
    }

    .qunueprocess-flow-wrapper .box_3 {
        width: 37%;
        top: 65.3%;
        left: 0.4%;
        padding-top: 1vw;
        padding-bottom: 1vw;
        padding-left: 1.8vw;
        padding-right: 1.8vw;
    }
}

@media (max-width: 1279px) {

    /** xl**/
    .qunueprocess-flow-wrapper .line_1 {
        top: 9.1%;
        left: 28.5%;
        scale: .66;
    }

    .qunueprocess-flow-wrapper .line_2 {
        top: 41.5%;
        left: 41.5%;
        scale: .6;
    }

    .qunueprocess-flow-wrapper .line_3 {
        position: absolute;
        top: 82.5%;
        left: 12.5%;
        scale: .7;
    }
}

@media (max-width: 1023px) {

    /** lg**/
    .qunueprocess-flow-wrapper .line_3,
    .qunueprocess-flow-wrapper .line_2,
    .qunueprocess-flow-wrapper .line_1 {
        display: none;
    }

    .qunueprocess-flow-wrapper .box_1 {
        width: 40%;
        padding: 1vw 1.8vw;
        top: 28.3%;
        left: .3%;
        border-radius: 1rem;
    }

    .qunueprocess-flow-wrapper .box_2 {
        width: 43.3%;
        padding: 1vw 1.8vw;
        top: 35.7%;
        right: .2%;
        border-radius: 1rem;
    }

    .qunueprocess-flow-wrapper .box_3 {
        width: 47%;
        padding: 1vw 1.8vw;
        top: 57.3%;
        left: .4%;
        border-radius: 1rem;
    }

}

@media (max-width: 767px) {
    /** md**/
}

@media (max-width: 639px) {

    /** md**/
    .qunueprocess-flow-wrapper {
        margin-top: 1.5rem;
    }

    .qunueprocess-flow-wrapper .box_1 {
        width: 86%;
        padding: 3.8vw;
        top: 4.3%;
        left: 6.3%;
    }

   .qunueprocess-flow-wrapper .box_2 {
	width: 86.3%;
	padding: 3.8vw;
	top: 30.7%;
	right: 7.2%;
}

    .qunueprocess-flow-wrapper .box_3 {
	width: 86.3%;
	padding: 3.8vw;
	top: 59.3%;
	left: 7.4%;
}

  .qunueprocess-flow-wrapper .title {
	font-size: 6.1vw;
}

    .qunueprocess-flow-wrapper .subTitle {
	font-size: 3.9vw;
}

    .qunueprocess-flow-wrapper .description {
	font-size: 2.5vw;
}

}

@media (max-width: 428px) {
    /** iphone **/
}