.qunueprocess-flow-wrapper {
    margin-top: 4.8rem;
}

.qunueprocess-flow-wrapper .title {
	font-size: 2.7rem;
}
.qunueprocess-flow-wrapper .subTitle {
    font-size: 1.8rem;
}

.qunueprocess-flow-wrapper .description {
	text-align: justify;
	font-size: 1rem;
}

.qunueprocess-flow-wrapper .box_1, .qunueprocess-flow-wrapper .box_2, .qunueprocess-flow-wrapper .box_3 {
	background-color: #0d1b1d;
	border: 2px solid #fff;
	border-radius: 2rem;
	padding-top: 1rem;
	padding-bottom: 3rem;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	position: absolute;
}
.qunueprocess-flow-wrapper .box_1 {
	width: 29%;
	top: 23.4%;
	left: 1.4%;
}

.qunueprocess-flow-wrapper .box_2 {
	width: 37.3%;
	top: 37.7%;
	right: 0.1%;
}

.qunueprocess-flow-wrapper .box_3 {
	width: 35%;
	top: 65.6%;
	left: 1.4%;
}

.qunueprocess-flow-wrapper .line_1 {
	position: absolute;
	top: 12.2%;
	left: 28.5%;
	scale: 0.8;
}

.qunueprocess-flow-wrapper .line_2 {
	position: absolute;
	top: 41.5%;
	left: 45.5%;
	scale: .8;
}

.qunueprocess-flow-wrapper .line_3 {
	position: absolute;
	top: 75.5%;
	left: 11.5%;
	scale: .8;
}


@media (max-width: 1279px) {

    /** xl**/
    .qunueprocess-flow-wrapper .line_1 {
        top: 9.1%;
        left: 28.5%;
        scale: .66;
    }

    .qunueprocess-flow-wrapper .line_2 {
        top: 41.5%;
        left: 41.5%;
        scale: .6;
    }

    .qunueprocess-flow-wrapper .line_3 {
        position: absolute;
        top: 82.5%;
        left: 12.5%;
        scale: .7;
    }
}

@media (max-width: 1023px) {

    /** lg**/
    .qunueprocess-flow-wrapper .line_3,
    .qunueprocess-flow-wrapper .line_2,
    .qunueprocess-flow-wrapper .line_1 {
        display: none;
    }

    .qunueprocess-flow-wrapper .box_1 {
        width: 40%;
        padding: 1vw 1.8vw;
        top: 28.3%;
        left: .3%;
        border-radius: 1rem;
    }

    .qunueprocess-flow-wrapper .box_2 {
        width: 43.3%;
        padding: 1vw 1.8vw;
        top: 35.7%;
        right: .2%;
        border-radius: 1rem;
    }

    .qunueprocess-flow-wrapper .box_3 {
        width: 47%;
        padding: 1vw 1.8vw;
        top: 57.3%;
        left: .4%;
        border-radius: 1rem;
    }

}

@media (max-width: 767px) {
    /** md**/
}

@media (max-width: 639px) {

    /** md**/
    .qunueprocess-flow-wrapper {
        margin-top: 1.5rem;
    }

    .qunueprocess-flow-wrapper .box_1 {
        width: 86%;
        padding: 3.8vw;
        top: 4.3%;
        left: 6.3%;
    }

   .qunueprocess-flow-wrapper .box_2 {
	width: 86.3%;
	padding: 3.8vw;
	top: 30.7%;
	right: 7.2%;
}

    .qunueprocess-flow-wrapper .box_3 {
	width: 86.3%;
	padding: 3.8vw;
	top: 59.3%;
	left: 7.4%;
}

  .qunueprocess-flow-wrapper .title {
	font-size: 6.1vw;
}

    .qunueprocess-flow-wrapper .subTitle {
	font-size: 3.9vw;
}

    .qunueprocess-flow-wrapper .description {
	font-size: 2.5vw;
}

}

@media (max-width: 428px) {
    /** iphone **/
}